.create-station-form-create-app-user {
    // width: 100%;
    // height: 80%;
    // padding: 30px;
    // border: 1px solid #f2f2f2;
    // border-radius: 8px;
    // margin-left: 23px;
    // min-height: 53vh;
    // min-width: 38vw;

    .app-user-icon {
        margin-bottom: 13px;
    }

    .header-create-app-user {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        color: #1d1d1d;
        margin-bottom: 20px;
    }
    .header-enter-user-name {
        width: 129px;
        height: 20px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: #2e2c34;
        margin-bottom: 20px;
    }
    // .create-app-user {
    //     font-family: 'Inter';
    //     font-style: normal;
    //     font-weight: 600;
    //     font-size: 12px;
    //     line-height: 16px;
    // }

    .creating-the-user-container {
        text-align: center;
        justify-content: center;
        .create-the-user-header {
            margin-top: 19px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 20px;
            color: #979797;
        }
    }

    .connection-details-container {
        height: 144px;
        background: rgba(239, 239, 243, 0.05);
        border: 1px solid #f3f3f3;
        border-radius: 4px;
        margin-top: 29px;

        .user-details-container {
            height: 44px;
            display: flex;
            padding-left: 20px;
            justify-content: flex-start;

            background: #f6f6fc;
            align-items: center;

            .user-check {
                margin-bottom: 5px;
                margin-right: 5px;
            }

            .user-connection-details {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                align-self: flex-end;

                color: #2e2c34;
            }
        }

        .container-username-token {
            font-family: 'Inter';
            font-style: italic;
            font-weight: 500;
            font-size: 14px;
            line-height: 196.5%;
            margin-left: 20px;
            margin-top: 20px;
            color: #2e2c34;
            height: 50px;

            .username-container,
            .token-container {
                display: flex;
                align-items: center;

                p {
                    margin: 0;
                }

                .copy-icon {
                    padding: 7;
                    height: 50;
                }
            }
        }
    }

    .information-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 35px;

        .information-img {
            margin-bottom: 10px;
            margin-right: 5px;
        }
        .information {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 150%;
            color: #b4b4b4;
        }
    }
}
