.collapse-header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    p{
        margin: 0;
        font-family: 'InterSemiBold';
        font-size: 14px;
    }
    img{
        width: 12px;
        margin-left: 10px;
    }
    
}