.getstarted-container {
    box-sizing: border-box;
    // max-height: calc(100% - 250px);
    height: 100%;
    // max-height: 90%;
    // flex-basis: 100%;
    //
    // min-width: 30%;
    // max-height: 850px;
    // min-height: 20%;
    max-height: 100%;
    // min-height: 30%;
    overflow-y: hidden;
    overflow-x: auto;
    // overflow: scroll;
    // overflow: auto;
    // overflow: hidden;
    padding: 45px;
    background: #ffffff;
    border: 1px solid #e9e9e9;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
    border-radius: 8px;

    .btnContainer {
        justify-content: space-between;
        display: flex;
        margin-top: 7px;
        margin-bottom: 30px;
        // margin-right: 10px;
    }

    .getstarted-header {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        color: #1d1d1d;
    }

    .getstarted-header-description {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: #b4b4b4;
    }

    .sub-getstarted-container {
        display: flex;
        margin-top: 40px;
    }
}
