.finish-container {
    // height: calc(100% - 120px);
    height: 100%;
    width: 100%;
    // display: flex;
    // flex-direction: column;
    overflow: auto;
    // height: calc(100% - 450px);
    // height: 59%;
    // min-height: 40%;
    // position: relative;
    padding: 30px;
    border: 1px solid #f2f2f2;
    border-radius: 8px;
    margin-left: 23px;

    .header-finish {
        text-align: center;
    }

    .image-finish {
        text-align: center;
        justify-content: center;
        align-items: center;
        align-self: center;
    }

    .go_to_station {
        text-align: center;
        // justify-content: center;
        // align-items: center;
        // align-self: center;
    }

    .container-icons-finish {
        justify-content: center;
    }
}
