.station-overview-header {
    width: calc(100);
    align-items: center;
    justify-content: space-between;
    .title-wrapper {
        display: flex;
        justify-content: space-between;
        height: 35px;
        .station-name {
            font-size: 24px;
            font-weight: 600;
            line-height: 29px;
        }
    }
   
    .details {
        margin-top: 5px;
        display: flex;
        justify-content: space-between;
        height: 85px;
        align-items: center;
        .icons-wrapper{
            display: flex;
            width: 90%;
            height: 100%;
            justify-content: space-around;
            position: relative;
        }
        .main-details {
            font-size: 12px;
            p{
                margin-bottom: 5px;
            }
        }
        .details-wrapper {
            display: flex;
            align-self: center;
            .icon {
                width: 50px;
                height: 50px;
                background: rgba(101, 87, 255, 0.1);
                box-shadow: 0px 0px 4px 3px rgba(204, 204, 204, 0.19);
                border-radius: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .more-details {
                margin-left: 10px;
                color: #1D1D1D;
                width: 8vw;
                min-width: 110px;
                p {
                    margin: 0;
                }
                .number {
                    font-size: 16px;
                    line-height: 19px;
                    font-weight: 600;
                }
                .title {
                    font-size: 12px;
                    line-height: 24px;
                }
                .ant-progress-inner {
                    background-color: #E9E9E9;
                }
                .ant-progress-status-success .ant-progress-bg {
                    background-color: var(--purple);
                }
                .ant-progress-status-exception .ant-progress-bg {
                    background-color: var(--red);
                }
            }
        }
    }
   
}
.sdk-details-container{
    gap: 30px;
    display: flex;
    flex-direction: column;
    height: calc(100% - 50px);
    font-size: 12px;
    font-weight: 400;
    .installation{
        .install-copy{
            border: 1px solid var(--gray);
            box-sizing: border-box;
            border-radius: 4px;
            height: 50px;
            display: flex;
            align-items: center;
            p{
                margin: 0;
                
            }
        }
    }
    .code-example {
        .code-content {
            border: 1px solid var(--gray);
            box-sizing: border-box;
            border-radius: 4px;
            height: 320px;
            overflow:auto;
            p{
                margin: 0;
                white-space:pre-line;
            }
            
        }
    }
}
.iKtiIo{
    background: white !important;
    width: 100% !important;
    span{
        background: white !important;
    }
    .hpPViG, .hzFDPg{
        border: none;
        background: white;
    }
    
}