.station-observabilty-container {
    display: flex;
    justify-content: space-between;
    min-height: 220px;
    .thunnel-from-sub,
    .thunnel-to-pub {
        width: 10.5vw;
    }
    .thunnel-to-pub{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
}
