.messages-container {
    min-width: 400px;
    width: 40vw;
    height: 78vh;
    min-height: 700px;
    box-shadow: 0px 0px 4px 3px rgba(204, 204, 204, 0.19);
    border-radius: 8px;
    background: white;
    position: relative;
    .header {
        padding: 15px 15px 0px 15px;
        display: flex;
        line-height: 30px;
        justify-content:space-between;
        .left-side{
            display: flex;
            .title {
                font-weight: 600;
                font-size: 14px;
                margin: 0;
            }
            .messages-amount{
                display: flex;
                margin-left: 16px;
                color: #737373;
                svg {
                    width: 11px;
                    margin-right: 5px;
                    height: 100%;
                }
                p{
                    margin: 0;
                    font-size: 10px;
                    font-weight: 500;
                }
            }
        }
        .right-side{
            position: relative;
            display: flex;
            width: 190px;
            justify-content: space-between;
            top: 10px;
        }
        .add-functions-button {
            cursor: pointer;
            color: var(--purple);
            font-weight: 600;
            font-size: 12px;
        }
    }
    .ant-tabs-tab{
        color: rgba(28, 46, 69, 0.6);
    }
    .ant-tabs-nav-wrap{
        padding-left: 15px !important;
    }
    .list-wrapper {
        display: flex;
        position: relative;
        height: calc(100% - 35px);
        .list {
            position: relative;
            width: 20vw;
            height: calc(100%);
            min-width: 225px;
            .coulmns-table {
                border-bottom: 1px solid #e9e9e9;
                width: 99%;
                display: flex;
                justify-content: space-between;
                color: #979797;
                padding-left: 22px;
                span{
                    font-weight: 400;
                    font-size: 12px;
                    margin-right: 10px;
                }
            }
            .rows-wrapper {
                position: relative;
                width: calc(100% - 1px);
                height: calc(100% - 20px);
                overflow: auto;
                border-right: 1px solid #E9E9E9;
                .pubSub-row {
                    width: 100%;
                    height: 35px;
                    display: flex;
                    color: #1d1d1d;
                    justify-content: space-between;
                    align-items: center;
                    font-weight: 400;
                    font-size: 12px;
                    padding-left: 22px; 
                    cursor: pointer;
                    div {
                        margin-right: 10px;
                        cursor: pointer !important;
                    }
                }
                .selected {
                    padding-left: 16px;            
                    border-left: 6px solid var(--purple);
                    background: rgba(90, 79, 229, 0.04);;
                }
                .empty-messages{
                    display: flex;
                    width: 95%;
                    height: 100%;
                    position: relative;
                    align-items: center;
                    justify-content: center;
                    p{
                        margin: 0;
                        color: var(--gray);
                        font-weight: 600;
                        font-size: 16px;
                    }
                }
                
            }
        }
        .row-data{
            width: 17vw;
            overflow-wrap: anywhere;
            overflow: auto;
            margin: 1vh;
            margin-top: 25px;
        }
        
    }
    .empty-messages{
        display: flex;
        width: 95%;
        height: calc(100% - 51px);
        position: relative;
        align-items: center;
        justify-content: center;
        p{
            margin: 0;
            color: var(--gray);
            font-weight: 600;
            font-size: 16px;
        }
    }
}

