.editor-code-snippet-container {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #d8d8d8;
    border-radius: 4px;

    .clipboard-image {
        position: absolute;
        right: 0px;
    }
}
