.create-produce-data {
    .select-container {
        margin-top: 20px;
    }

    .produce-data-icon {
        margin-top: 34px;
        margin-bottom: 18px;
    }
    .header-create-produce-data {
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        color: #1d1d1d;
        margin-bottom: 55px;
    }

    .header-language {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: #2e2c34;
        margin-bottom: 16px;
    }

    .data-waiting-container,
    .successfully-container {
        padding: 10px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        border: 1px solid #d8d8d8;
        border-radius: 4px;
        height: 34vh;

        .image-waiting-successful {
            margin-top: 10px;
            margin-bottom: 15px;
        }

        .successfully-consume-produce {
            font-weight: 600;
            font-size: 18px;
            color: #1d1d1d;
            margin-top: 15px;
        }
        p {
            top: 0;
        }

        .ant-btn-primary {
            box-shadow: none;
        }
    }
}
